.details {
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;

  &__header {
    text-align: center;
    font-size: 18px;
  }
}

.details-card {
  display: grid;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 5px;

  &__img {
    width: 200px;
    margin: 0 auto;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
  }
}

table td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
}
